
@font-face {
  font-family: SpaceGrotesk;
  src: url('../fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf');
}
  
@font-face {
  font-family: Titillium_Web;
  src: url('../fonts/Titillium_Web/TitilliumWeb-Regular.ttf');
}
  
* {
  margin: 0;
  padding: 0;
  font-family: SpaceGrotesk, Arial;
}
  
body {
  margin: 0;
  height: 100%;
}
  
#viewport {
  width: 100%;
  height: 100%;
  display: block;
}
  
#header {
  position: absolute;
  color: white;
  top: 0px;
  width: 100%;
  background: blue;
  padding: 2px 0px 2px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 33px;
  clip-path: ellipse(30% 100% at top);
  user-select: none;
  z-index: 2;
}
  
#footer {
  position: absolute;
  color: white;
  bottom: 0px;
  background-color: rgb(75, 0, 75);
  width: 100%;
  padding: 5px 0px 5px 0px;
  z-index: 2;
}
  
#time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
  
#speed-container {
  text-align: center;
}
  
#speed-menu {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
  
#speed-input {
  font-size: 21px;
  text-align: center;
  font-family: Titillium_Web;
}
  
#speed-input:focus {
  outline: none;
}
  
#play-pause-container {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}
  
#play-pause-icon {
  vertical-align: middle;
}
  
#play-pause-label {
  font-size: 21px;
}
  
.change-planet-icon {
  font-size: 32px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: white;
}
  
.change-planet-icon:disabled
{
  color: grey;
}
  
#selected-planet-label {
  font-size: 22px;
  max-width: 220px;
  text-align: center;
}
  
.planet-label {
  color: rgb(158, 58, 58);
  font-size: 25px;
  font-weight: bold;
}
  
.location-label {
  font-family: Titillium_Web, Arial;
  transition: opacity 0.8s;
  text-align: center;
  z-index: -1;
}

#go-back-link {
  position: absolute;
  color: rgb(226, 112, 226);
  bottom: 10%;
  margin-left: 10px;
  text-decoration: none;
  user-select: none;
  font-size: 20px;
  font-weight: bold;
}

#go-back-link:hover {
  color: rgb(195, 0, 255);
}

@media all and (max-width: 380px) {

  #header {
    gap: 8px;
  }

  #selected-planet-label {
    font-size: 16px;
  }

  .change-planet-icon {
    font-size: 20px;
  }

  #go-back-link {
    margin-left: 7px;
    font-size: 18px;
  }
}